Repository christianknauer/tools: changes, and which lefthook commands are due for each by the changed paths.
All: mdl, shellcheck, shfmt, yamlfmt

mdl:
  tags: lint
  run: mdl {staged_files}

shellcheck:
  tags: chk

shfmt:
  tags: lint
  run: shfmt -i 2 -ci -fn -w {staged_files}

yamlfmt:
  tags: lint
  run: yamlfmt {staged_files}

lefthook
  lefthook.yml
Due: yamlfmt

nix development flake set up
  .direnv/flake-profile
  .direnv/flake-profile-1-link
  .envrc
  flake.lock
  flake.nix
  nix/nix-develop/README.md
  shell.nix
Due: none

task file added
  .direnv/flake-profile
  .direnv/flake-profile-2-link
  generate/taskfile.yml
  shell.nix
Due: yamlfmt

task file added
  .direnv/flake-profile
  .direnv/flake-profile-3-link
  generate/taskfile.yml
Due: yamlfmt

fkill: fzf process killer
  fzf/fkill.sh
Due: shellcheck, shfmt

fkill: fix
  fzf/fkill.sh
Due: shellcheck, shfmt

fzf scripts
  fzf/examples/fdfind.sh
  fzf/examples/find.sh
  fzf/examples/rg.sh
  fzf/fzf-fd
  fzf/fzf-rg
Due: shellcheck, shfmt

fzf scripts
  fzf/examples/fdfind.sh
  fzf/examples/find.sh
  fzf/examples/rg.sh
Due: shellcheck, shfmt

fzf scripts
  fzf/fsel.sh
Due: shellcheck, shfmt

fzf scripts
  fzf/dev/fsel.sh
  fzf/dev/fsel.sh.1
  fzf/dev/json.sh
Due: shellcheck, shfmt

fsel
  fzf/dev/copy.json
  fzf/dev/file.json
  fzf/dev/fsel.sh
  fzf/dev/json.sh
Due: shellcheck, shfmt

fzf scripts
  fzf/dev/copy.json
  fzf/dev/file.json
  fzf/dev/fsel.sh
  fzf/dev/initf.sh
Due: shellcheck, shfmt

fzf scripts
  fzf/dev/dicts.sh
  fzf/dev/fsel.sh
Due: shellcheck, shfmt

fzf scripts
  fzf/dev/fsel.sh
Due: shellcheck, shfmt

fzf scripts
  fzf/dev/opts.sh
Due: shellcheck, shfmt

opts handling
  fzf/dev/opts.sh
Due: shellcheck, shfmt

fzf scripts
  fzf/dev/debug.lib.sh
  fzf/dev/opts.sh
Due: shellcheck, shfmt

opts handling
  fzf/dev/debug.lib.sh
  fzf/dev/ini.lib.sh
  fzf/dev/initf.sh
  fzf/dev/opts.sh
Due: shellcheck, shfmt

opts handling
  fzf/dev/ini.lib.sh
  fzf/dev/initf.sh
Due: shellcheck, shfmt

fzf scripts
  fzf/dev/copy.ini
  fzf/dev/file.ini
  fzf/dev/ini-test.sh
Due: shellcheck, shfmt

json (de)serialization of nested arrays
  fzf/dev/ini.lib.sh
  fzf/dev/test-ini.sh
Due: shellcheck, shfmt

json (de)serialization of nested arrays
  fzf/dev/ini.lib.sh
  fzf/dev/test-ini.sh
  fzf/dev/test-parse.sh
Due: shellcheck, shfmt

json parser tests
  fzf/dev/test.json
Due: none

dict parsing
  fzf/dev/ini.lib.sh
  fzf/dev/test.json
Due: shellcheck, shfmt

misc
  _scratchpad/pass.txt
  _scratchpad/tdt2tw.py
  _scratchpad/tw2tdt.py
Due: none

bash cleanup
  fzf/dev/copy.ini
  fzf/dev/debug.lib.sh
  fzf/dev/dicts.lib.sh
  fzf/dev/examples/nested-arrays-ex.sh
  fzf/dev/examples/read-json-with-jq.sh
  fzf/dev/fsel.sh
  fzf/dev/helpers.lib.sh
  fzf/dev/ini-test.sh
  fzf/dev/ini.lib.sh
  fzf/dev/opts.lib.sh
  fzf/dev/resu.json
  fzf/dev/test-dicts.sh
  fzf/dev/test-ini.sh
  fzf/dev/test-opts.sh
  fzf/dev/test-parse.sh
  fzf/dev/todo.txt
Due: shellcheck, shfmt

opts
  fzf/dev/config.json
  fzf/dev/dicts.lib.sh
  fzf/dev/options.json
  fzf/dev/opts.lib.sh
  fzf/dev/test-opts.sh
Due: shellcheck, shfmt

gpg pass
  _scratchpad/pass2.txt
Due: none

misc
  _scratchpad/generate_keys.sh
Due: shellcheck, shfmt

moved gen-gpg to sep proj
  generate/gen-gpg-keys.sh
  generate/gpg.sh
Due: shellcheck, shfmt

localized chezmoi w. temp target using rclone enc
  cm-safe-target/.chezmoi.yaml.tmpl
  cm-safe-target/.chezmoihooks/apply-post.sh
  cm-safe-target/.chezmoihooks/apply-pre.sh
  cm-safe-target/.chezmoihooks/read-source-state-post.sh
  cm-safe-target/.chezmoihooks/read-source-state-pre.sh
  cm-safe-target/.chezmoiignore
  cm-safe-target/.gitignore
  cm-safe-target/rclone.conf.tmpl
  cm-safe-target/run
  cm-safe-target/run_after_init.sh.tmpl
Due: shellcheck, shfmt

Path conditions:
  mdl: any of: *.{md}
  shellcheck: any of: *.{sh,bats}
  shfmt: any of: *.{sh,bats}
  yamlfmt: any of: *.{yml,yaml}
