Repository christianknauer/tools: changes, and which lefthook commands are due for each by the changed paths.
All: mdl, bats, shellcheck, shfmt, yamlfmt

lefthook.yml:

pre-commit:
  follow: true
  commands:
    mdl:
      tags: lint
      glob: "*.{md}"
      run: mdl {staged_files}
    bats:
      tags: test
      glob: "*.{bats}"
      run: bats {staged_files}
    shellcheck:
      tags: chk
      glob: "*.{sh,bats}"
      run: shellcheck {staged_files}
    shfmt:
      tags: lint
      glob: "*.{sh,bats}"
      run: shfmt -i 2 -ci -fn -w {staged_files}
    yamlfmt:
      tags: lint
      glob: "*.{yml,yaml}"
      run: yamlfmt {staged_files}

fix
  .direnv/flake-profile
  .direnv/flake-profile-4-link
Due: none

fix
  _scratchpad/generate_keys.sh
Due: shellcheck, shfmt

fixes
  generate/gen-password.sh
Due: shellcheck, shfmt

fix
  .direnv/flake-profile
  .direnv/flake-profile-5-link
Due: none

test
  .direnv/flake-profile
  .gitignore
  fzf/dev/examples/copy.json
  fzf/dev/examples/file-depth-1.json
  fzf/dev/examples/file-depth-2.json
  fzf/dev/examples/file.json
Due: none

test
  fzf/dev/test-opts.sh
Due: shellcheck, shfmt

log
  fzf/dev/log-test.sh
  fzf/dev/test-opts.sh
Due: shellcheck, shfmt

fix
  fzf/dev/test-opts.sh
Due: shellcheck, shfmt

direnv+conda
  direnv_test/.conda_env
  direnv_test/.conda_env.init
  direnv_test/.conda_env.yaml
  direnv_test/.envrc
Due: yamlfmt

test(zig) testing
  zig/build.sh
  zig/hello.c
Due: shellcheck, shfmt

test
  cm-safe-target/.chezmoi.yaml.tmpl
  cm-safe-target/init
  cm-safe-target/run
Due: none
